{% extends 'index/header.html' %}
{% block title %} Image Details {% endblock %}
{% block content %}
<div class="container">
    <h1>Image Details</h1>

    <div class="image-container">
        <img src="{{ image.image.url }}" alt="{{ image.name }}" style="width: 150px; height: auto;" alt="Uploaded Image">
    </div>

    <div class="hex-color" style="background-color: {{ image.hex_color }};">
        <p>Hex Color: <span>{{ image.hex_color }}</span></p>
    </div>

    <div class="button-container">
        <a href="{% url 'list_images' %}">
            <button>Back to List View</button>
        </a>
    </div>
</div>
{% endblock %}
